img {
	border: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}



/* Recipes index */
	/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */
	
body {
	background-color: lightblue;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 20px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 36px;
	font-weight: bold;
}

p {
	margin-bottom: 16px;
}

a {
	color: #32b672;
	text-decoration: underline;
}

a:hover {
	color: #000;
}

ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

li {
	padding: 5px 5px;
	/* border-bottom: 1px dashed rgba(0, 0, 0, .1); */
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

li:hover {
	background-color: rgba(0, 0, 0, .04);
}

#main {
	width: calc(100% - 300px); 
}

#recipecard {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#recipecard td, #recipecard th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #recipecard tr:nth-child(even){background-color: #f2f2f2;} */
#recipecard tr.rc_emptyrow {
	border-top: 3px solid black;
}
#recipecard tr.rc_singlerow {
	border-top: 3px solid black;
}
#recipecard tr.rc_multirow_first {
	border-top: 3px solid black;
}
#recipecard tr.rc_multirow_nonfirst {
	border-top: 1px solid black;
}

#recipecard tr:hover {background-color: #ddd;}

#recipecard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#recipecard tr:nth-child(even) {
	background-color: inherit;
}

.recipe-title-wrapper {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 27px 27px 10px 27px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-image: -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .4)
		71%);
	background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .4)
		71%);
	color: #fff;
	text-align: left;
}

.recipe-title-wrapper.featured {
	text-align: center;
}

.recipe-title {
	font-size: 17px;
	line-height: 23px;
	font-weight: 600;
}

.recipe-title.large {
	display: block;
	width: 230px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-size: 27px;
	line-height: 27px;
}

.category-item {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-4 {
    width: 30%;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.recipe-image-block {
	display: block;
	overflow: hidden;
	height: 210px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-image:
		url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
	background-position: 50% 50%;
	background-size: cover;
}

.recipe-image-block.favorite-large {
	height: 440px;
}

.recipe-image-block.large {
	height: 330px;
}

.recipe-image-block.category {
	height: 150px;
}

.recipe-title.view-recipes {
	font-size: 16px;
	font-weight: 300;
}
	.section {
	position: relative;
    padding-top: 15px;
    padding-bottom: 65px;
    background-color: #fff;
}
	}

.main-content-wrapper.centered {
	text-align: center;
}
.section-title-wrapper {
    margin-bottom: 40px;
    text-align: center;
}
.section-title {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #32b672;
    font-weight: 400;
}

.w-clearfix:before, .w-clearfix:after {
    content: " ";
    display: table;
}

.w-row:before, .w-row:after {
    content: " ";
    display: table;
}

#RecipeIndexForm {
    display: block;
    float: right;
    width: auto;
}

.main-content-wrapper {
    position: relative;
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 45px;
    padding-left: 45px;
}

.main-content-wrapper.centered {
    text-align: center;
}

.recipe-overlay-block {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}








@media ( max-width : 991px) {
	li {
		padding-right: 15px;
		padding-left: 20px;
	}
	
	#main {
	width: auto;
	}
	
}


@media ( max-width : 479px) {
	h2 {
		font-size: 27px;
		line-height: 31px;
	}
	h5 {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 21px;
	}
	li {
		line-height: 15px;
	}
	figcaption {
		line-height: 25px;
	}
	.nav-link {
		padding-left: 46px;
		line-height: 11px;
	}
	.block-title {
		padding: 15px;
		font-size: 19px;
	}
	
}
