body {
	background-color: lightblue;
}

img {
	border: 0;
}

img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
}


//
Recipes index
	/* ==========================================================================
   Start of custom Webflow CSS
   ========================================================================== */
	
body {
	background-color: #f1f1ee;
	font-family: 'Source Sans Pro', sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 20px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 36px;
	font-weight: bold;
}

h5 {
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 19px;
	line-height: 26px;
	font-weight: 600;
}

p {
	margin-bottom: 16px;
}

a {
	color: #32b672;
	text-decoration: underline;
}

a:hover {
	color: #000;
}

ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

li {
	padding: 5px 5px;
	/* border-bottom: 1px dashed rgba(0, 0, 0, .1); */
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

li:hover {
	background-color: rgba(0, 0, 0, .04);
}

figcaption {
	margin-top: 12px;
	margin-bottom: 20px;
	padding-right: 12px;
	padding-left: 12px;
	border-radius: 4px;
	background-color: rgba(88, 75, 69, .1);
	color: #584b45;
	font-size: 13px;
	line-height: 35px;
	text-align: center;
}

.navbar {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	z-index: 2000;
	width: 100%;
	height: 70px;
	background-color: #584b45;
	color: #eee;
}

.navbar.sidebar {
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 2000;
	width: 249px;
	height: 100%;
	background-color: #584b45;
}

.nav-link {
	height: 70px;
	padding: 23px 17px 22px 39px;
	border-bottom: 5px solid transparent;
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8452e0f1965960d68c02d_Icon-home.png");
	background-position: 14px 50%;
	background-size: 15px;
	background-repeat: no-repeat;
	-webkit-transition: background-color 200ms ease, border 200ms ease;
	transition: background-color 200ms ease, border 200ms ease;
	color: hsla(0, 0%, 100%, .7);
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	text-transform: none;
}

.nav-link:hover {
	border-bottom-color: #32b672;
	border-left-color: #32b672;
	background-color: rgba(0, 0, 0, .2);
	color: #fff;
}

.nav-link.w--current {
	border-bottom-color: #32b672;
	background-color: rgba(0, 0, 0, .1);
	color: #fff;
}

.nav-link.recipes {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c845458e937d52236d9ca8_Icon-plate-white.png");
}

.nav-link.favorite {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c845528e937d52236d9cab_Icon-heart.png");
}

.nav-link.videos {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c86cb31e4c5a667cd9cdc9_Icon-youtube.png");
}

.nav-link.blog {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8456f1e4c5a667cd9b7eb_Icon-news.png");
}

.nav-link.about {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8457b1e4c5a667cd9b7ec_Icon-speech.png");
}

.nav-link.contact {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8534c0f1965960d68d446_Icon-mail-white.png");
}

.nav-link.sidebar {
	width: 100%;
	height: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 52px;
	border-left: 5px solid transparent;
	border-bottom-width: 0px;
	background-size: 15px;
}

.nav-link.sidebar:hover {
	border-left-color: #32b672;
}

.nav-link.sidebar.w--current {
	border-left-color: #32b672;
}

.nav-link.dropdown {
	padding-right: 35px;
}

.nav-link.dropdown.w--open {
	border-bottom-color: #32b672;
	background-color: rgba(0, 0, 0, .2);
}

.section {
	position: relative;
	padding-top: 15px;
	padding-bottom: 65px;
	background-color: #fff;
}

.section.tint {
	border-top: 2px dotted #e7e1d9;
	background-color: #f1f1ee;
}

.section.color {
	background-color: #32b672;
	color: #fff;
}

.block-title {
	padding: 15px 25px;
	border-bottom: 2px solid rgba(0, 0, 0, .1);
	color: #32b672;
	font-size: 22px;
}

.footer {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f1f1ee;
}

.section-title-wrapper {
	margin-bottom: 40px;
	text-align: center;
}

.section-title {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #32b672;
	font-weight: 400;
}

.section-title.subtitle {
	display: block;
	width: 60%;
	margin-top: 14px;
	margin-right: auto;
	margin-left: auto;
	color: #383838;
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
}

.section-title.subtitle.light {
	color: hsla(0, 0%, 100%, .65);
}

.section-title.latest-blog {
	margin-bottom: 20px;
	color: #000;
	font-size: 30px;
}

.section-title.inline {
	display: inline-block;
	color: #464544;
}

.section-title.inline.color {
	margin-left: 15px;
	color: #32b672;
}

.section-title.white {
	color: #fff;
}

.footer-title {
	margin-bottom: 30px;
	font-size: 17px;
	font-weight: 700;
}

.footer-column {
	padding-left: 20px;
}

.nav-menu {
	float: right;
}

.page-title-header {
	padding-top: 35px;
	padding-bottom: 35px;
	background-color: #fff;
}

.page-image-header {
	position: relative;
	background-color: #b4b4b4;
	background-image:
		url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
	background-position: 50% 50%;
	background-size: cover;
}


.main-content-wrapper {
	position: relative;
	max-width: 1050px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 45px;
	padding-left: 45px;
}

.main-content-wrapper.centered {
	text-align: center;
}

.main-content-wrapper.blog {
	max-width: 850px;
	margin-top: -110px;
	padding-top: 45px;
	padding-bottom: 45px;
	border-radius: 4px;
	background-color: #fff;
}

.main-content-wrapper.blog.footer-blog {
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: transparent;
}

.main-content-wrapper.featured-recipes {
	margin-top: -90px;
}

.recipe-column-right {
	padding-left: 30px;
}

.sidebar-block {
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #f5f3ed;
}

.recipe-intro-title {
	margin-top: 0px;
	margin-bottom: 24px;
	color: #32b672;
	font-size: 35px;
	line-height: 31px;
	font-weight: 600;
}

.logo-block {
	height: 70px;
	padding-top: 13px;
	text-align: left;
}

.logo-block:hover {
	opacity: 0.8;
}

.logo-block.sidebar {
	display: block;
	width: 100%;
	height: auto;
	padding: 30px 50px 30px 30px;
	text-align: center;
}

.page-header-title {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 39px;
	line-height: 34px;
}

.page-header-title.subtitle {
	margin-bottom: 0px;
	font-size: 22px;
	line-height: 17px;
	font-weight: 300;
}

.back-to-overview-link {
	display: inline-block;
	margin-bottom: 10px;
	padding-left: 19px;
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c84b710f1965960d68c9fa_Icon-arrow-left.png");
	background-position: 0px 50%;
	background-size: 12px;
	background-repeat: no-repeat;
	-webkit-transition: background-position 200ms ease, padding 200ms ease;
	transition: background-position 200ms ease, padding 200ms ease;
	color: #32b672;
	text-decoration: none;
}

.back-to-overview-link:hover {
	padding-left: 0px;
	background-position: -29px 50%;
	color: #32b672;
	text-decoration: underline;
}

.recipe-image-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: transparent;
}

.recipe-summary-block {
	width: 260px;
	padding: 25px 25px 15px;
	border-radius: 4px;
	background-color: hsla(0, 0%, 100%, .8);
}

.recipe-summary-item-block {
	margin-bottom: 12px;
}

.recipe-summary-icon {
	height: 28px;
	margin-top: 3px;
	margin-right: 12px;
	float: left;
}

.recipe-summary-title {
	display: block;
	margin-top: 3px;
	float: none;
	font-size: 15px;
	line-height: 12px;
}

.recipe-summary-title.description {
	color: #32b672;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0px;
	text-transform: uppercase;
}

.recipe-content-block {
	margin-top: -110px;
	padding: 28px 40px 30px 30px;
	border-radius: 3px;
	background-color: #fff;
}

.recipe-author-profile {
	width: 80px;
	height: 80px;
	margin-right: 25px;
	float: left;
	border-radius: 6px;
}

.recipe-by-title {
	margin-top: 8px;
	opacity: 0.44;
	font-size: 13px;
	line-height: 15px;
}

.recipe-by-title.name {
	margin-top: 6px;
	margin-bottom: 7px;
	opacity: 1;
	font-size: 20px;
	font-weight: 600;
}

.overall-section-title {
	font-size: 28px;
	line-height: 26px;
	font-weight: 400;
}

.empty-state {
	padding-top: 22px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .05);
	text-align: center;
}

.w-clearfix:before, .w-clearfix:after {
    content: " ";
    display: table;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.w-row:before, .w-row:after {
    content: " ";
    display: table;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-4 {
    width: 30%;
}


.recipe-image-block {
	display: block;
	overflow: hidden;
	height: 210px;
	margin-bottom: 20px;
	border-radius: 4px;
	background-image:
		url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
	background-position: 50% 50%;
	background-size: cover;
}

.recipe-image-block.favorite-large {
	height: 440px;
}

.recipe-image-block.large {
	height: 330px;
}

.recipe-image-block.category {
	height: 150px;
}

.recipe-overlay-block {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

.recipe-overlay-block:hover {
	background-color: rgba(0, 0, 0, .13);
}

.recipe-title-wrapper {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 27px 27px 10px 27px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-image: -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .4)
		71%);
	background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .4)
		71%);
	color: #fff;
	text-align: left;
}

.recipe-title-wrapper.featured {
	text-align: center;
}

.recipe-title {
	font-size: 17px;
	line-height: 23px;
	font-weight: 600;
}


.recipe-title.view-recipes {
	font-size: 16px;
	font-weight: 300;
}

.recipe-title.large {
	display: block;
	width: 230px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	font-size: 27px;
	line-height: 27px;
}

.recipe-category-link-block {
	position: absolute;
	top: 16px;
	right: 20px;
	z-index: 20;
	padding-right: 8px;
	padding-left: 8px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, .4);
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
	font-size: 13px;
	line-height: 5px;
}

.recipe-category-link-block:hover {
	background-color: rgba(0, 0, 0, .7);
	color: #fff;
}

.recipe-block-info-title {
	margin-top: -4px;
	margin-left: 7px;
	float: left;
	font-size: 12px;
}

.recipe-block-info-block {
	display: inline-block;
	float: none;
}

.recipe-block-small-icon {
	height: 15px;
	margin-top: -2px;
	float: left;
}

.back-to-top-button {
	position: absolute;
	top: -38px;
	right: 20px;
	height: 38px;
	padding-left: 34px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: rgba(0, 0, 0, .4);
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c84ae32687776b7c708f4e_Icon-arrow-top.png");
	background-position: 12px 50%;
	background-size: 11px;
	background-repeat: no-repeat;
	-webkit-transition: background-color 200ms ease, background-position
		200ms ease;
	transition: background-color 200ms ease, background-position 200ms ease;
}

.back-to-top-button:hover {
	background-color: rgba(0, 0, 0, .6);
	background-position: 12px 44%;
	color: #fff;
}

.view-all {
	display: inline-block;
	padding-right: 18px;
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c870bb8e937d52236dd084_Icon-arrow-right-white.png");
	background-position: 100% 50%;
	background-size: 11px;
	background-repeat: no-repeat;
	-webkit-transition: background-position 200ms ease;
	transition: background-position 200ms ease;
	color: #fff;
	text-decoration: none;
}

.view-all:hover {
	background-position: 125% 50%;
	color: #fff;
	text-decoration: underline;
}

.small-column-title {
	margin-top: 0px;
	margin-bottom: 4px;
	font-size: 15px;
}

.tag-button {
	display: block;
	width: 95%;
	margin-top: 5px;
	border-radius: 3px;
	background-color: rgba(71, 72, 73, .3);
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
	text-align: center;
}

.tag-button:hover {
	background-color: rgba(71, 72, 73, .8);
	color: #fff;
}

.tag-item {
	padding-right: 5px;
}

.recipe-by-block {
	margin-top: -2px;
	padding: 16px;
	border-radius: 3px;
	background-color: #584b45;
	color: #fff;
}

.recipe-by-column-left {
	padding-right: 30px;
}

.page-header {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c83ecc764b795b23bdcae7_Recipe-15.jpg");
	background-position: 50% 50%;
	background-size: cover;
}

.page-header.favorites {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c83cd7460cb4940dba94ad_Recipe-19.jpg");
}

.page-header.videos {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c83ee4764b795b23bdcae9_Recipe-16.jpg");
}

.page-header.contact {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c83d048e937d52236d971c_Recipe-6.jpg");
}

.page-header.category {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c83e3c764b795b23bdcae0_Recipe-9.jpg");
}

.page-header-overlay {
	width: 100%;
	height: 100%;
	padding-top: 170px;
	padding-bottom: 110px;
	background-image: -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .4));
	background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .4));
	text-align: center;
}

.page-header-overlay._404 {
	padding-bottom: 220px;
}

.page-header-overlay.cook {
	padding-top: 120px;
}

.page-header-overlay.with-top-categories {
	padding-top: 140px;
	padding-bottom: 90px;
}

.page-header-overlay.blog {
	padding-top: 160px;
	padding-bottom: 120px;
}

.page-header-overlay.blog-post {
	padding-top: 200px;
	padding-bottom: 170px;
}

.page-header-overlay.home {
	padding-top: 230px;
	padding-bottom: 230px;
	background-image: -webkit-linear-gradient(270deg, transparent 18%, rgba(0, 0, 0, .8)
		92%);
	background-image: linear-gradient(180deg, transparent 18%, rgba(0, 0, 0, .8)
		92%);
}

.page-title {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Bitter, serif;
	color: #fff;
	font-size: 68px;
	line-height: 63px;
	font-weight: 400;
	text-shadow: 0 0 6px rgba(0, 0, 0, .8);
}

.page-title.subtitle {
	margin-top: 15px;
	font-size: 22px;
	line-height: 31px;
}

.page-title-wrapper {
	display: block;
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	color: #fff;
}

.footer-link {
	display: block;
	margin-bottom: 7px;
	color: rgba(0, 0, 0, .5);
	font-size: 14px;
	text-decoration: none;
}

.footer-link:hover {
	color: #000;
}

.footer-bottom-block {
	min-height: 60px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid rgba(0, 0, 0, .05);
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.bottom-footer-link {
	display: inline-block;
	margin-left: 12px;
	float: right;
	color: rgba(0, 0, 0, .4);
	text-decoration: none;
}

.bottom-footer-link:hover {
	color: #000;
}

.bottom-footer-paragraph {
	display: inline-block;
	margin-bottom: 0px;
	float: left;
}

.navbar-info-block {
	padding: 25px;
	border-top: 1px dashed rgba(0, 0, 0, .2);
}

.navbar-info-block.sidebar {
	padding: 25px;
	border-top-width: 1px;
}

.about-us-block {
	overflow: hidden;
	height: 405px;
	padding: 37px 115px 37px 37px;
	border-radius: 4px;
	background-color: #f5f3ee;
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c8c9cf460cb4940dbaf479_Mother-daughter.png");
	background-position: 192% 100%;
	background-size: 350px;
	background-repeat: no-repeat;
}

.about-me-block-title {
	margin-top: 0px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 27px;
	font-weight: 400;
}

.blog-image-link-block {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 120px;
	height: 110px;
	border-radius: 4px;
	background-image:
		url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
	background-position: 50% 50%;
	background-size: cover;
}

.blog-image-link-block.blog-overview {
	position: static;
	overflow: hidden;
	width: 100%;
	height: 170px;
	margin-bottom: 20px;
	text-decoration: none;
}

.blog-image-link-block.blog-overview.large {
	height: 380px;
	margin-bottom: 10px;
}

.blog-post-item {
	position: relative;
	min-height: 110px;
	padding-left: 138px;
}

.blog-post-link {
	display: block;
	margin-bottom: 8px;
	font-size: 19px;
	line-height: 22px;
	font-weight: 600;
	text-decoration: none;
}

.blog-post-link.main-overview {
	display: block;
	margin-bottom: 20px;
	font-size: 23px;
	font-weight: 600;
	text-decoration: none;
}

.blog-post-link.large {
	margin-bottom: 18px;
	font-size: 37px;
	line-height: 32px;
}

.about-us-column-left {
	padding-right: 20px;
}

.latest-blog-posts-column-right {
	padding-left: 20px;
}

.button {
	margin-top: 2px;
	border-radius: 3px;
	background-color: #32b672;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

.button:hover {
	background-color: #2f3331;
	color: #fff;
}

.button.view-more {
	margin-top: 10px;
}

.button.view-more.dark {
	background-color: rgba(0, 0, 0, .3);
}

.button.view-more.dark:hover {
	background-color: rgba(0, 0, 0, .9);
}

.button.suscribe-button {
	height: 44px;
	margin-top: 7px;
	padding-right: 20px;
	padding-left: 20px;
}

.button._404 {
	margin-top: 22px;
}

.image-section {
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c83e280f1965960d68bbc0_Recipe-8.jpg");
	background-position: 50% 50%;
	background-size: cover;
}

.image-section-overlay {
	padding-top: 120px;
	padding-bottom: 120px;
	background-color: rgba(0, 0, 0, .1);
}

.image-section-title-wrapper {
	width: 55%;
	padding: 48px;
	border-radius: 4px;
	background-color: hsla(0, 0%, 100%, .9);
	text-align: left;
}

.image-section-title {
	margin-bottom: 15px;
	font-size: 37px;
	line-height: 42px;
	font-weight: 400;
}

.image-section-title.subtitle {
	margin-bottom: 25px;
	font-size: 17px;
	line-height: 24px;
}

.bottom-footer-small-paragraph {
	color: rgba(51, 51, 51, .5);
	font-size: 12px;
}

.menu-social-button {
	width: 30px;
	height: 30px;
	margin-right: 2px;
	padding-top: 3px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .2);
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
	text-align: center;
}

.menu-social-button:hover {
	background-color: #32b672;
}

.menu-social-icon {
	height: 14px;
}

.top-section {
	padding-top: 95px;
	padding-bottom: 25px;
	background-color: #f1f1ee;
}

.top-nav-link {
	margin-right: 2px;
	margin-left: 2px;
	border-radius: 4px;
	background-color: transparent;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
	color: #000;
	font-size: 13px;
	line-height: 12px;
	font-weight: 600;
}

.top-nav-link:hover {
	background-color: rgba(0, 0, 0, .1);
}

.top-nav-link.w--current {
	background-color: #fff;
	color: #31b671;
}

.recipe-video-block {
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.recipe-video-overlay-block {
	position: absolute;
	left: 30px;
	top: 34px;
	width: 30px;
	height: 30px;
	-webkit-transform: translate(0px, -50%);
	-ms-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
}

.overlay-play-icon:hover {
	opacity: 0.9;
}

.blog-left-section {
	width: 100%;
	height: 100%;
	background-image:
		url("http://uploads.webflow.com/56c71dfd442dd14d71672871/56c83ecc764b795b23bdcae7_Recipe-15.jpg");
	background-position: 50% 50%;
	background-size: cover;
}

.blog-section {
	width: 100%;
	height: 100%;
	float: left;
	background-color: #f1f1ee;
	text-decoration: none;
}

.blog-main-wrapper {
	display: block;
	max-width: 850px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 45px;
	padding-left: 45px;
}

.blog-overview-item {
	position: relative;
	min-height: 380px;
	margin-bottom: 20px;
	padding-top: 0px;
	padding-left: 10px;
}

.blog-overview-item.first {
	min-height: 0px;
	padding-right: 10px;
}

.blog-post-author-block {
	margin-bottom: 9px;
}

.blog-post-author-block.first {
	position: absolute;
	top: 40px;
	right: 0px;
	width: 190px;
}

.blog-author-image {
	display: block;
	width: 31px;
	height: 31px;
	margin-right: 10px;
	margin-left: auto;
	float: left;
	border-radius: 4px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .14);
}

.blog-author-title {
	display: block;
	margin-top: -1px;
	line-height: 19px;
}

.blog-author-title.date {
	color: #c2c2c2;
	font-size: 12px;
	line-height: 15px;
}

.blog-author-title.name {
	margin-top: 4px;
	font-family: Bitter, serif;
	font-size: 23px;
	line-height: 29px;
	font-weight: 700;
	text-shadow: 0 0 6px #000;
}

.blog-image-overlay {
	width: 100%;
	height: 100%;
	padding: 0px;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
	color: #fff;
	text-align: center;
}

.blog-image-overlay:hover {
	background-color: rgba(50, 182, 114, .7);
}

.blog-image-overlay.large {
	position: relative;
	padding: 27px;
	text-align: left;
}

.blog-image-overlay.large:hover {
	background-color: rgba(0, 0, 0, .2);
}

.blog-header-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .05);
	background-image: -webkit-linear-gradient(270deg, transparent 46%, rgba(0, 0, 0, .6));
	background-image: linear-gradient(180deg, transparent 46%, rgba(0, 0, 0, .6));
}

.newsletter-form {
	margin-bottom: 0px;
}

.field {
	height: 44px;
	margin-bottom: 5px;
	border: 2px solid #e4e4e4;
	border-radius: 4px;
	-webkit-transition: border 200ms ease;
	transition: border 200ms ease;
}

.field:hover {
	border-color: #a09c9c;
}

.field:focus {
	border-color: #32b672;
}

.recipe-tags-column-right {
	padding-left: 60px;
}

.small-footer {
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #f1f1ee;
}

.cook-portrait-image {
	width: 120px;
	height: 120px;
	margin-bottom: 20px;
	border: 6px solid #fff;
	border-radius: 100%;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
}

.nav-footer-paragraph {
	margin-bottom: 14px;
	font-size: 11px;
}

.column-left {
	padding-right: 20px;
}

.column-right {
	padding-left: 20px;
}

.intro-paragraph {
	margin-bottom: 18px;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
}

.cook-overview-image {
	width: 130px;
	height: 130px;
	margin-top: -45px;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-radius: 100%;
	box-shadow: 0 0 13px 0 rgba(0, 0, 0, .14);
}

.cook-item {
	padding-right: 5px;
	padding-left: 5px;
	text-align: center;
}

.cook-name {
	font-size: 20px;
	font-weight: 700;
}

.cook-name.subtitle {
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 17px;
	line-height: 19px;
	font-weight: 300;
}

.cook-block-overlay {
	position: relative;
	z-index: 10;
	display: block;
	width: 94%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 26px;
	border-radius: 4px;
	background-color: #fff;
	color: #000;
}

.contact-column {
	padding-right: 25px;
	padding-left: 25px;
	text-align: center;
}

.color-column-title {
	margin-top: 0px;
	margin-bottom: 13px;
	color: #32b672;
	font-size: 17px;
}

.social-button {
	width: 38px;
	height: 38px;
	margin-right: 2px;
	margin-left: 2px;
	padding-top: 7px;
	border-radius: 4px;
	background-color: #32b672;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

.social-button:hover {
	background-color: #29302c;
}

.social-icon {
	height: 18px;
}

.popup {
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 2500;
	display: none;
	overflow: visible;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
}

.popup-window {
	position: absolute;
	left: 0px;
	top: 50%;
	right: 0px;
	display: block;
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	padding: 50px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-transform: translate(0px, -50%);
	-ms-transform: translate(0px, -50%);
	transform: translate(0px, -50%);
}

.popup-form {
	margin-bottom: 0px;
}

.contact-field {
	height: 36px;
	margin-bottom: 13px;
	padding-top: 0px;
	padding-left: 0px;
	border-style: solid;
	border-width: 0px 0px 2px;
	border-color: #000 #000 #e2e2e2;
	-webkit-transition: border 200ms ease;
	transition: border 200ms ease;
}

.contact-field:hover {
	border-bottom-color: #adadad;
}

.contact-field:focus {
	border-bottom-color: #32b672;
}

.contact-field.area {
	height: 100px;
}

.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 0.5;
}

.close-button:hover {
	opacity: 1;
}

.close-icon {
	height: 26px;
}

.success-bg {
	padding-top: 28px;
	background-color: #32b672;
	color: #fff;
}

.error-bg {
	padding-top: 18px;
	padding-bottom: 1px;
	padding-left: 18px;
	border-radius: 4px;
	color: #dd315b;
	font-size: 12px;
	text-align: center;
}

.logo {
	height: 40px;
	margin-top: 2px;
}

.logo.sidebar {
	height: auto;
}

.table-wrapper {
	overflow: hidden;
	margin-top: 30px;
	border: 1px solid #dfdfdf;
	border-radius: 4px;
}

.table-item {
	margin-bottom: -1px;
	padding: 13px;
	border-bottom: 1px solid #e9e9e9;
}

.table-item:hover {
	background-color: #fcfcfc;
}

.table-item.title {
	background-color: #584b45;
	color: #fff;
}

.blog-author-main-image {
	width: 90px;
	height: 90px;
	margin-bottom: 20px;
	border: 4px solid #fff;
	border-radius: 100%;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .6);
}

.blog-title {
	margin-top: 0px;
	margin-bottom: 40px;
	font-size: 46px;
	line-height: 41px;
}

.blog-date-wrapper {
	margin-bottom: 6px;
}

.blog-date-title {
	margin-bottom: 10px;
	color: #9b9b9b;
}

.blog-more-posts-wrapper {
	margin-top: 30px;
}

.more-posts-item {
	padding-right: 12px;
	padding-left: 0px;
}

.more-posts-link-block {
	overflow: hidden;
	width: 100%;
	height: 250px;
	border-radius: 4px;
	background-image:
		url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
	background-position: 50% 50%;
	background-size: cover;
	color: #fff;
}

.more-posts-link-block:hover {
	color: #fff;
}

.more-posts-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .1);
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}

.more-posts-overlay:hover {
	background-color: rgba(50, 182, 114, .5);
}

.more-posts-title-wrapper {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 30px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-image: -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .4));
	background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .4));
}

.more-posts-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
}

.more-posts-date {
	margin-bottom: 5px;
	font-size: 12px;
}

.more-posts-wrapper {
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px dashed rgba(0, 0, 0, .12);
}

.sidebar-body {
	padding-left: 249px;
}

.dropdown {
	overflow: visible;
}

.dropdown-link {
	position: relative;
	z-index: 2;
	border-radius: 4px;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
	color: #000;
}

.dropdown-link:hover {
	background-color: #f1f1f1;
	color: #000;
}

.dropdown-link.w--current {
	color: #32b672;
}

.dropdown-icon {
	margin-right: 15px;
	opacity: 0.5;
	font-size: 12px;
	line-height: 17px;
}

.dropdown-list.w--open {
	overflow: visible;
	margin-top: 10px;
	padding: 6px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .2);
}

.dropdown-top-block {
	position: absolute;
	left: 17px;
	top: -1px;
	z-index: 1;
	width: 20px;
	height: 20px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.first-blog-post-text-wrapper {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 45px 165px 35px 45px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background-image: -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .7)
		92%);
	background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7)
		92%);
}

.section-title-color {
	color: #32b672;
}

.view-recipes-icon-arrow {
	position: absolute;
	right: 21px;
	bottom: 29px;
	width: 15px;
}

.empty-state-icon {
	height: 60px;
	margin-bottom: 10px;
	opacity: 0.2;
}

.featured-recipe-section {
	padding-bottom: 80px;
}

.featured-recipe-link-block {
	overflow: hidden;
	width: 100%;
	height: 300px;
	border-radius: 4px;
	background-image:
		url("https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png");
	background-position: 50% 50%;
	background-size: cover;
	text-decoration: none;
}

.featured-recipe-link-block.first {
	box-shadow: 0 0 28px 0 rgba(0, 0, 0, .4);
}

.featured-recipe-overlay {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
	text-align: left;
}

.featured-recipe-overlay:hover {
	background-color: rgba(0, 0, 0, .15);
}

.featured-recipe-title {
	position: absolute;
	left: 29px;
	top: 22px;
	right: 29px;
	display: block;
	width: 110px;
	margin-right: auto;
	margin-left: auto;
	padding: 12px;
	border-radius: 4px;
	background-color: #32b672;
	color: #fff;
	font-size: 12px;
	line-height: 3px;
	text-align: center;
	letter-spacing: 0px;
}

.featured-recipes-block {
	display: inline-block;
	width: 33%;
	float: left;
}

.featured-recipes-block._2 {
	position: relative;
	z-index: 10;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.featured-recipe-item {
	height: auto;
}

#RecipeIndexForm {
    display: block;
    float: right;
    width: auto;
}


html.w-mod-js *[data-ix="fade-in-on-load"] {
	opacity: 0;
	-webkit-transform: translate(0px, 30px);
	-ms-transform: translate(0px, 30px);
	transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-on-load-2"] {
	opacity: 0;
	-webkit-transform: translate(0px, 30px);
	-ms-transform: translate(0px, 30px);
	transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="fade-in-on-load-3"] {
	opacity: 0;
	-webkit-transform: translate(0px, 30px);
	-ms-transform: translate(0px, 30px);
	transform: translate(0px, 30px);
}

html.w-mod-js *[data-ix="hide-video-overlay-icon"] {
	display: none;
	opacity: 0;
	-webkit-transform: scale(0.8, 0.8);
	-ms-transform: scale(0.8, 0.8);
	transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="hide-popup"] {
	display: none;
	opacity: 0;
}

html.w-mod-js *[data-ix="hide-arrow-icon"] {
	opacity: 0;
	-webkit-transform: translate(30px, 0px);
	-ms-transform: translate(30px, 0px);
	transform: translate(30px, 0px);
}

html.w-mod-js *[data-ix="zoom-fade-in"] {
	opacity: 0;
	-webkit-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="zoom-fade-in-2"] {
	opacity: 0;
	-webkit-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
}

html.w-mod-js *[data-ix="zoom-fade-in-3"] {
	opacity: 0;
	-webkit-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
}

#main {
	width: calc(100% - 300px); 
}

#moreActionLinksContent li {
    list-style-type: none;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 5px;
}

#recipecard {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#recipecard td, #recipecard th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #recipecard tr:nth-child(even){background-color: #f2f2f2;} */
#recipecard tr.rc_emptyrow {
	border-top: 3px solid black;
}
#recipecard tr.rc_singlerow {
	border-top: 3px solid black;
}
#recipecard tr.rc_multirow_first {
	border-top: 3px solid black;
}
#recipecard tr.rc_multirow_nonfirst {
	border-top: 1px solid black;
}

#recipecard tr:hover {background-color: #ddd;}

#recipecard th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
#recipecard tr:nth-child(even) {
	background-color: inherit;
}






@media ( max-width : 991px) {
	li {
		padding-right: 15px;
		padding-left: 20px;
	}
	.nav-link {
		display: block;
		height: auto;
		max-width: 1200px;
		margin-right: 0px;
		margin-left: 0px;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 63px;
		border-bottom-width: 1px;
		border-bottom-color: rgba(0, 0, 0, .1);
		background-position: 32px 50%;
		font-size: 14px;
		line-height: 20px;
	}
	.nav-link:hover {
		border-bottom-color: rgba(0, 0, 0, .1);
	}
	.nav-link.w--current {
		border-bottom-width: 1px;
		border-bottom-color: rgba(0, 0, 0, .1);
	}
	.nav-link.sidebar {
		background-position: 23px 50%;
	}
	.section {
		padding: 30px;
	}
	.block-title {
		padding: 20px;
		font-size: 20px;
	}
	.footer {
		padding: 30px;
	}
	.section-title-wrapper {
		margin-bottom: 30px;
	}
	.section-title {
		font-size: 27px;
	}
	.section-title.subtitle {
		width: 70%;
		margin-top: 11px;
		font-size: 19px;
		line-height: 25px;
	}
	.footer-title {
		margin-bottom: 21px;
		font-size: 14px;
	}
	.footer-column {
		padding-right: 4px;
		padding-left: 10px;
	}
	.nav-menu {
		background-color: #50443e;
	}
	.nav-menu.sidebar {
		width: 100%;
		background-color: transparent;
	}
	.page-title-header {
		padding: 18px 30px 22px;
	}
	#main {
	width: auto;
	}
	.main-content-wrapper {
		padding-top: -2px;
		padding-right: 0px;
		padding-left: 0px;
	}
	.main-content-wrapper.blog {
		padding-right: 45px;
		padding-left: 45px;
	}
	.recipe-column-left {
		padding-left: 0px;
	}
	.recipe-column-right {
		padding-left: 20px;
	}
	.recipe-intro-title {
		margin-bottom: 19px;
		font-size: 28px;
		line-height: 27px;
	}
	.page-header-title {
		margin-bottom: 13px;
		font-size: 29px;
		line-height: 24px;
	}
	.page-header-title.subtitle {
		font-size: 18px;
		line-height: 14px;
	}
	.recipe-image-overlay {
		padding: 70px 30px;
	}
	.recipe-content-block {
		margin-top: 0px;
		padding: 0px;
	}
	.recipe-image-block {
		height: 170px;
		margin-bottom: 10px;
	}
	.recipe-image-block.favorite-large {
		height: 360px;
	}
	.recipe-image-block.large {
		height: 210px;
	}
	.recipe-title-wrapper {
		padding: 20px 13px 20px 20px;
	}
	.recipe-title {
		font-size: 18px;
		line-height: 19px;
	}
	.recipe-title.large {
		width: 190px;
		font-size: 24px;
		line-height: 25px;
	}
	.recipe-block-info-title {
		margin-left: 4px;
		font-size: 11px;
	}
	.recipe-by-column-left {
		padding-right: 0px;
		padding-left: 0px;
	}
	.page-header-overlay {
		padding: 110px 35px 50px;
	}
	.page-header-overlay._404 {
		padding-bottom: 110px;
	}
	.page-header-overlay.cook {
		padding-top: 60px;
	}
	.page-header-overlay.with-top-categories {
		padding-top: 90px;
		padding-bottom: 50px;
	}
	.page-header-overlay.blog {
		padding-top: 120px;
	}
	.page-header-overlay.home {
		padding-top: 170px;
		padding-bottom: 180px;
	}
	.page-title {
		font-size: 48px;
		line-height: 43px;
	}
	.page-title.subtitle {
		margin-top: 15px;
		font-size: 18px;
		line-height: 26px;
	}
	.page-title-wrapper {
		width: 100%;
	}
	.recipe-item {
		padding-right: 2px;
	}
	.footer-link {
		font-size: 13px;
		line-height: 17px;
	}
	.bottom-footer-link {
		font-size: 13px;
		line-height: 16px;
	}
	.bottom-footer-paragraph {
		font-size: 12px;
	}
	.about-us-block {
		height: auto;
		padding: 30px 120px 30px 30px;
		background-position: 166% 100%;
	}
	.blog-image-link-block.blog-overview {
		height: 180px;
	}
	.about-us-column-left {
		padding-right: 0px;
		padding-left: 0px;
	}
	.latest-blog-posts-column-right {
		padding-top: 20px;
		padding-right: 0px;
		padding-left: 0px;
	}
	.button {
		font-size: 13px;
		line-height: 16px;
	}
	.image-section-overlay {
		padding: 65px 35px;
	}
	.image-section-title-wrapper {
		width: 65%;
		padding: 35px;
	}
	.top-section {
		padding: 90px 19px 20px;
	}
	.top-nav-link {
		padding-right: 9px;
		padding-left: 9px;
	}
	.blog-left-section {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: auto;
		float: none;
	}
	.blog-section {
		width: 100%;
		height: auto;
		float: right;
	}
	.blog-overview-item {
		padding-top: 0px;
	}
	.recipe-tags-column-right {
		padding-top: 20px;
		padding-right: 0px;
		padding-left: 0px;
	}
	.cook-overview-image {
		width: 80px;
		height: 80px;
		margin-top: -34px;
	}
	.cook-name.subtitle {
		font-size: 15px;
		line-height: 18px;
	}
	.cook-block-overlay {
		padding: 16px;
	}
	.contact-column {
		padding-right: 15px;
		padding-left: 15px;
	}
	.menu-button {
		width: 70px;
		height: 70px;
		margin-right: -20px;
		padding-top: 23px;
		padding-right: 0px;
		padding-left: 0px;
		background-color: rgba(0, 0, 0, .12);
		text-align: center;
	}
	.menu-button:hover {
		background-color: rgba(0, 0, 0, .32);
	}
	.menu-button.w--open {
		background-color: #32b672;
	}
	.menu-button.w--open:hover {
		background-color: #2fbb73;
	}
	.dropdown {
		max-width: 1200px;
		margin-right: 0px;
		margin-left: 0px;
	}
	.dropdown-list.w--open {
		margin-top: 0px;
		border-radius: 0px;
		box-shadow: 1px 1px 3px 0 transparent;
	}
	.featured-recipe-section {
		padding-right: 40px;
		padding-bottom: 50px;
		padding-left: 40px;
	}
	.featured-recipe-link-block {
		height: 220px;
	}
}

@media ( max-width : 767px) {
	.navbar {
		height: 60px;
	}
	.navbar.sidebar {
		position: absolute;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: auto;
		width: 100%;
		height: 60px;
	}
	.nav-link {
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 48px;
		border-bottom: 1px solid rgba(51, 44, 44, .5);
		background-position: 18px 50%;
		-webkit-transition: background-color 200ms ease;
		transition: background-color 200ms ease;
		line-height: 17px;
	}
	.nav-link:hover {
		opacity: 1;
	}
	.section {
		padding: 20px;
	}
	.section.color.team {
		padding: 21px 21px 11px;
	}
	.footer {
		padding: 20px;
	}
	.section-title-wrapper {
		margin-bottom: 20px;
	}
	.section-title.subtitle {
		width: 100%;
	}
	.footer-title {
		margin-bottom: 17px;
		font-size: 16px;
	}
	.footer-column {
		padding-right: 0px;
		padding-bottom: 20px;
		padding-left: 0px;
	}
	.footer-column.last {
		padding-bottom: 0px;
	}
	.nav-menu {
		overflow: hidden;
		background-color: #524741;
	}
	.nav-menu.sidebar {
		background-color: #584b45;
	}
	.page-title-header {
		padding-right: 20px;
		padding-left: 20px;
		text-align: center;
	}
	.page-image-header {
		height: 260px;
	}
	.main-content-wrapper.recipe-image {
		position: static;
		left: 0px;
		top: 0px;
	}
	.main-content-wrapper.blog {
		padding: 20px;
	}
	.main-content-wrapper.blog.footer-blog {
		padding-right: 30px;
		padding-left: 30px;
	}
	.recipe-column-right {
		padding-right: 0px;
		padding-left: 0px;
	}
	.logo-block {
		padding: 0px;
		float: left;
	}
	.logo-block.sidebar {
		display: inline-block;
		width: auto;
		height: 60px;
		padding: 0px;
	}
	.recipe-summary-block {
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		padding: 15px 15px 5px;
		border-radius: 0px;
	}
	.recipe-summary-item-block {
		display: inline-block;
		width: 33.33%;
		float: left;
		text-align: center;
	}
	.recipe-summary-icon {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 5px;
		float: none;
	}
	.recipe-summary-title.description {
		margin-bottom: 6px;
	}
	.recipe-image-block {
		height: 200px;
		margin-bottom: 10px;
	}
	.recipe-image-block.favorite-large {
		height: 250px;
	}
	.recipe-image-block.large {
		height: 200px;
		margin-bottom: 10px;
	}
	.recipe-title.large {
		width: 100%;
		font-size: 17px;
		line-height: 20px;
	}
	.tag-button {
		width: 100%;
		margin-top: 3px;
	}
	.page-header-overlay {
		padding: 100px 25px 50px;
	}
	.page-header-overlay._404 {
		padding-bottom: 80px;
	}
	.page-header-overlay.cook {
		padding-top: 100px;
	}
	.page-header-overlay.with-top-categories {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.page-header-overlay.blog {
		padding-top: 90px;
	}
	.page-header-overlay.blog-post {
		padding-top: 130px;
		padding-bottom: 150px;
	}
	.page-header-overlay.home {
		padding-top: 110px;
		padding-bottom: 150px;
	}
	.page-title {
		font-size: 41px;
	}
	.page-title.subtitle {
		margin-top: 6px;
		font-size: 16px;
		line-height: 23px;
	}
	.recipe-item {
		padding-right: 0px;
		padding-left: 0px;
	}
	.footer-link {
		font-size: 14px;
		line-height: 18px;
	}
	.footer-bottom-block {
		min-height: 60px;
		margin-top: 20px;
	}
	.blog-image-link-block.blog-overview {
		position: static;
		width: 100%;
		height: 150px;
		margin-bottom: 15px;
	}
	.blog-image-link-block.blog-overview.large {
		height: 340px;
	}
	.blog-post-link.large {
		font-size: 27px;
		line-height: 29px;
	}
	.image-section-overlay {
		padding: 25px;
	}
	.image-section-title-wrapper {
		width: 75%;
	}
	.top-section {
		padding: 70px 20px 0px;
		background-color: hsla(60, 10%, 94%, .94);
	}
	.top-nav-link {
		display: block;
		margin-right: 0px;
		margin-left: 0px;
		line-height: 17px;
	}
	.top-nav-link.show-categories {
		margin-bottom: 10px;
	}
	.blog-left-section {
		height: auto;
	}
	.blog-section {
		padding: 0px;
	}
	.blog-main-wrapper {
		padding: 20px;
	}
	.blog-overview-item {
		min-height: 0px;
		margin-bottom: 10px;
		padding-right: 0px;
		padding-left: 0px;
	}
	.blog-overview-item.first {
		padding-right: 0px;
	}
	.blog-post-author-block.first {
		position: absolute;
		left: 35px;
		top: 35px;
		right: auto;
	}
	.blog-author-title.name {
		font-size: 19px;
		line-height: 19px;
	}
	.blog-image-overlay.large {
		padding: 35px;
	}
	.field {
		margin-bottom: 3px;
	}
	.recipe-tags-column-right {
		text-align: center;
	}
	.small-footer {
		margin-top: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.cook-portrait-image {
		width: 70px;
		height: 70px;
		border-width: 3px;
	}
	.column-left {
		padding-right: 0px;
		padding-left: 0px;
	}
	.column-right {
		padding-right: 0px;
		padding-left: 0px;
	}
	.cook-block-overlay {
		width: 100%;
		margin-bottom: 10px;
	}
	.contact-column {
		padding-right: 0px;
		padding-bottom: 20px;
		padding-left: 0px;
	}
	.contact-column.last {
		padding-bottom: 0px;
	}
	.popup {
		overflow: auto;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.popup-window {
		position: relative;
		top: 0px;
		width: 80%;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
	}
	.menu-button {
		width: 60px;
		height: 60px;
		margin-right: 0px;
		padding-top: 19px;
		background-color: rgba(0, 0, 0, .15);
		-webkit-transition: background-color 200ms ease;
		transition: background-color 200ms ease;
	}
	.menu-button:hover {
		background-color: rgba(0, 0, 0, .35);
	}
	.menu-button.w--open {
		background-color: #32b672;
	}
	.logo {
		height: 40px;
		margin-top: 11px;
		margin-left: 20px;
	}
	.logo.sidebar {
		height: 34px;
		margin-top: 14px;
	}
	.favorites-column-left {
		padding-right: 0px;
		padding-left: 0px;
	}
	.favorites-column-right {
		padding-right: 0px;
		padding-left: 0px;
	}
	.categories-wrapper {
		display: none;
		overflow: hidden;
		height: auto;
		margin-bottom: 20px;
	}
	.blog-author-main-image {
		width: 70px;
		height: 70px;
	}
	.blog-title {
		margin-bottom: 20px;
		font-size: 27px;
		line-height: 29px;
	}
	.more-posts-item {
		padding-right: 0px;
	}
	.more-posts-link-block {
		display: block;
		margin-bottom: 10px;
	}
	.more-posts-wrapper {
		margin-top: 10px;
	}
	.sidebar-body {
		padding-left: 0px;
	}
	.dropdown-link {
		padding-left: 15px;
		line-height: 14px;
	}
	.first-blog-post-text-wrapper {
		padding: 35px;
	}
	.category-item {
		padding-right: 0px;
		padding-left: 0px;
	}
	.featured-recipe-section {
		padding-right: 20px;
		padding-bottom: 30px;
		padding-left: 20px;
	}
	.featured-recipe-link-block {
		height: 180px;
	}
	.featured-recipe-title {
		width: 100px;
		font-size: 10px;
		line-height: 0px;
	}
}

@media ( max-width : 479px) {
	h2 {
		font-size: 27px;
		line-height: 31px;
	}
	h5 {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 21px;
	}
	li {
		line-height: 15px;
	}
	figcaption {
		line-height: 25px;
	}
	.nav-link {
		padding-left: 46px;
		line-height: 11px;
	}
	.block-title {
		padding: 15px;
		font-size: 19px;
	}
	.section-title-wrapper {
		margin-bottom: 16px;
	}
	.section-title {
		font-size: 19px;
		line-height: 22px;
	}
	.section-title.latest-blog {
		margin-bottom: 26px;
		font-size: 24px;
	}
	.section-title.inline {
		font-size: 18px;
	}
	.section-title.inline.color {
		margin-left: 8px;
	}
	.footer-column {
		padding-bottom: 15px;
	}
	.main-content-wrapper.blog {
		padding: 15px;
	}
	.sidebar-block {
		margin-bottom: 15px;
	}
	.page-header-title.subtitle {
		line-height: 18px;
	}
	.recipe-author-profile {
		width: 70px;
		height: 70px;
		margin-right: 17px;
	}
	.recipe-by-title {
		margin-top: 5px;
	}
	.overall-section-title {
		font-size: 23px;
	}
	.recipe-image-block {
		height: 160px;
	}
	.recipe-image-block.favorite-large {
		height: 160px;
	}
	.recipe-image-block.large {
		height: 160px;
	}
	.recipe-title-wrapper {
		padding: 25px;
	}
	.recipe-title-wrapper.featured {
		padding-bottom: 15px;
	}
	.recipe-title {
		font-size: 19px;
		line-height: 20px;
	}
	.recipe-title.large {
		font-size: 24px;
		line-height: 23px;
	}
	.recipe-block-info-title {
		margin-left: 6px;
		font-size: 12px;
	}
	.page-header-overlay {
		padding: 100px 20px 40px;
	}
	.page-header-overlay._404 {
		padding-bottom: 40px;
	}
	.page-header-overlay.cook {
		padding-top: 90px;
	}
	.page-header-overlay.with-top-categories {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.page-header-overlay.blog-post {
		padding-top: 120px;
	}
	.page-header-overlay.home {
		padding-top: 100px;
		padding-bottom: 140px;
	}
	.page-title {
		font-size: 29px;
		line-height: 33px;
	}
	.page-title.subtitle {
		margin-top: 5px;
		font-size: 13px;
		line-height: 18px;
	}
	.footer-bottom-block {
		margin-top: 10px;
		margin-bottom: 16px;
	}
	.bottom-footer-link {
		display: block;
		margin-top: 2px;
		margin-left: 0px;
		float: none;
	}
	.bottom-footer-paragraph {
		float: none;
	}
	.about-us-block {
		height: auto;
		padding: 23px 23px 123px;
		background-position: 50% 100%;
		background-size: contain;
	}
	.about-me-block-title {
		margin-bottom: 15px;
		font-size: 22px;
	}
	.blog-image-link-block {
		width: 110px;
	}
	.blog-image-link-block.blog-overview {
		height: 90px;
		margin-bottom: 12px;
	}
	.blog-post-item {
		padding-left: 128px;
	}
	.blog-post-link {
		font-size: 17px;
		line-height: 19px;
	}
	.blog-post-link.main-overview {
		margin-bottom: 10px;
		line-height: 22px;
	}
	.blog-post-link.large {
		margin-bottom: 8px;
		font-size: 23px;
		line-height: 23px;
	}
	.latest-blog-posts-column-right {
		padding-top: 30px;
	}
	.button.suscribe-button {
		height: 35px;
		padding-right: 14px;
		padding-left: 14px;
		line-height: 18px;
	}
	.image-section-overlay {
		padding: 20px;
	}
	.image-section-title-wrapper {
		width: 100%;
		padding: 25px;
	}
	.image-section-title {
		font-size: 27px;
		line-height: 28px;
	}
	.image-section-title.subtitle {
		margin-bottom: 15px;
		font-size: 15px;
		line-height: 18px;
	}
	.bottom-footer-small-paragraph {
		font-size: 11px;
	}
	.recipe-video-overlay-block {
		left: 25px;
		top: 30px;
	}
	.blog-summary {
		font-size: 13px;
		line-height: 18px;
	}
	.blog-post-author-block.first {
		left: 25px;
		top: 20px;
	}
	.blog-author-title {
		font-size: 13px;
	}
	.blog-author-title.date {
		font-size: 11px;
	}
	.intro-paragraph {
		font-size: 17px;
		line-height: 23px;
	}
	.cook-overview-image {
		margin-top: -30px;
		margin-bottom: 16px;
	}
	.cook-name.subtitle {
		margin-bottom: 14px;
		font-size: 17px;
	}
	.cook-block-overlay {
		padding: 23px;
	}
	.contact-column {
		padding-bottom: 17px;
	}
	.popup {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.popup-window {
		width: 85%;
		padding: 34px;
	}
	.logo.sidebar {
		margin-top: 15px;
	}
	.table-column {
		padding-right: 5px;
		padding-left: 0px;
	}
	.blog-author-main-image {
		width: 60px;
		height: 60px;
	}
	.blog-title {
		font-size: 26px;
		line-height: 27px;
	}
	.more-posts-link-block {
		height: 170px;
	}
	.more-posts-title-wrapper {
		padding: 20px;
	}
	.more-posts-title {
		font-size: 18px;
		line-height: 23px;
	}
	.first-blog-post-text-wrapper {
		padding: 25px 25px 5px;
		background-image: -webkit-linear-gradient(270deg, transparent, rgba(0, 0, 0, .7)
			71%);
		background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, .7)
			71%);
	}
	.featured-recipe-section {
		padding-bottom: 15px;
	}
	.featured-recipe-link-block {
		overflow: visible;
	}
	.featured-recipe-title {
		top: -9px;
		width: 110px;
		font-size: 11px;
	}
	.featured-recipes-block {
		width: 100%;
	}
}
